*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(174, 0, 255);
}
hr{
    color: black;
}
body{
    background-image: url(/My\ project-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 90;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
.container{
    margin: 2vh;
    padding: 2vh;
}
.good{
    border: 2px;
    border-color: white;
    border-width: 50px;
    border-radius: 15px;
}
.karunesh{
   border: 2px;
   border-color: white;
   border-radius: 15px;
   width: 350px;
   margin: 20px;
}
.hacker{
    border: 2px;
   border-color: white;
   border-radius: 15px;
   width: 350px;
   margin: 20px;
}
.noob{
    border: 2px;
   border-color: white;
   border-radius: 15px;
   width: 350px;
   margin: 20px;
}
.chaos{
    border: 2px;
    border-color: white;
    border-radius: 15px;
    width: 350px;
    margin: 20px;
}
.im{
    border: 2px;
    border-color: white;
    border-radius: 15px;
    width: 350px;
    margin: 20px;
}
p{
    font: cursive;
}

